.sendmessage__container {
  width: 100%;

  &--form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 1em;

    input {
      flex-grow: 1;
      padding: 0.4em 1em;
      border: none;
      border-radius: 0.5em;

      background-color: white;
      color: black;
      font-size: 1em;
    }

    button {
      padding: 0.5em 1.5em;
      background-color: #7e0d79;
      border: none;
      border-radius: 0.5em;

      font-weight: bold;
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 400px) {
  .sendmessage__container--form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    button {
      margin: 0;
    }
  }
}