.messageboard__container {
  flex-grow: 1;
  text-align: center;
  overflow-y: scroll;

  background-color: #333232;
  border-radius: 0.5em;

  &--error {
    color: red;
  }

  &--loading {
    color: #8a8a8a;
  }

  &--message {
    margin: 1em;

    &:not(:last-child) {
      border-bottom: 2px solid #242424;
      padding-bottom: 1em;
    }
  }

  &--scroll-up {
    color: #8a8a8a;

    &--text {
      padding: 0 1.5em;
    }
  }
}

@media screen and (max-width: 400px) {
  .messageboard__container--scroll-up--text {
    padding: 0 0.4em;
  }
}